In [1]:
# data reading, writing, exploration, cleaning
import pandas as pd
# array creation and operation
import numpy as np 
# plotting library
import matplotlib.pyplot as plt 
# data visualization library
import seaborn as sns
# remove warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# loading the dataset
df = pd.read_csv("C:/Users/Dell/OneDrive/Desktop/Data Engineer Project/Project-1/products_dataset.csv")
df

,product_id,product_category,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,furniture_decor,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construction_tools_lights,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,bed_bath_table,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,computers_accessories,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,bed_bath_table,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category            32328 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [4]:
# checking the missing values
df.isnull().sum()

product_id                      0
product_category              623
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [5]:
df['product_category'].value_counts()

bed_bath_table               3029
sports_leisure               2867
furniture_decor              2657
health_beauty                2444
housewares                   2335
                             ...
tablets_printing_image          9
fashion_childrens_clothes       5
home_comfort_2                  5
security_and_services           2
cds_dvds_musicals               1
Name: product_category, Length: 71, dtype: int64

In [6]:
# fill the missing values
df['product_category'].fillna('Unknown', inplace=True)
df['product_name_lenght'].fillna(df['product_name_lenght'].mean(), inplace=True) # Assuming this should be numeric
df['product_description_lenght'].fillna(df['product_description_lenght'].mean(), inplace=True) # Assuming this should be numeric
df['product_photos_qty'].fillna(df['product_photos_qty'].mean(), inplace=True) # Assuming this should be numeric
df['product_weight_g'].fillna(df['product_weight_g'].mean(), inplace=True) 
df['product_length_cm'].fillna(df['product_length_cm'].mean(), inplace=True) 
df['product_height_cm'].fillna(df['product_height_cm'].mean(), inplace=True) 
df['product_width_cm'].fillna(df['product_width_cm'].mean(), inplace=True)

In [7]:
df

,product_id,product_category,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,furniture_decor,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construction_tools_lights,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,bed_bath_table,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,computers_accessories,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,bed_bath_table,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [8]:
# checking the missing value
df.isnull().sum()

product_id                    0
product_category              0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

In [9]:
# fill the missing values
df['product_name_lenght'] = df['product_name_lenght'].astype(int)
df['product_description_lenght'] = df['product_description_lenght'].astype(int)
df['product_photos_qty'] = df['product_photos_qty'].astype(int)
df['product_weight_g'] = df['product_weight_g'].astype(int)
df['product_length_cm'] = df['product_length_cm'].astype(int)
df['product_height_cm'] = df['product_height_cm'].astype(int)
df['product_width_cm'] = df['product_width_cm'].astype(int)

In [10]:
df

,product_id,product_category,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40,287,1,225,16,10,14
1,3aa071139cb16b67ca9e5dea641aaa2f,art,44,276,1,1000,30,18,20
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,46,250,1,154,18,9,15
3,cef67bcfe19066a932b7673e239eb23d,baby,27,261,1,371,26,4,26
4,9dc1a7de274444849c219cff195d0b71,housewares,37,402,4,625,20,17,13
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,furniture_decor,45,67,2,12300,40,40,40
32947,bf4538d88321d0fd4412a93c974510e6,construction_tools_lights,41,971,1,1700,16,19,16
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,bed_bath_table,50,799,1,1400,27,7,27
32949,83808703fc0706a22e264b9d75f04a2e,computers_accessories,60,156,2,700,31,13,20
32950,106392145fca363410d287a815be6de4,bed_bath_table,58,309,1,2083,12,2,7

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category            32951 non-null  object
 2   product_name_lenght         32951 non-null  int32
 3   product_description_lenght  32951 non-null  int32
 4   product_photos_qty          32951 non-null  int32
 5   product_weight_g            32951 non-null  int32
 6   product_length_cm           32951 non-null  int32
 7   product_height_cm           32951 non-null  int32
 8   product_width_cm            32951 non-null  int32
dtypes: int32(7), object(2)
memory usage: 1.4+ MB

In [57]:
df.to_csv('C:/Users/Dell/OneDrive/Desktop/Data Engineer Project/Project-1/Original dataset/products.csv', index=False)

In [12]:
df.columns

Index(['product_id', 'product_category', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')