In [1]:
# data reading, writing, exploration, cleaning
import pandas as pd
# array creation and operation
import numpy as np 
# plotting library
import matplotlib.pyplot as plt 
# data visualization library
import seaborn as sns
# remove warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# loading the dataset
df = pd.read_csv("C:/Users/Dell/OneDrive/Desktop/Data Engineer Project/Project-1/seller_dataset.csv")
df

,seller_id,seller_zip_code,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,KOTA JAKARTA TIMUR,DKI JAKARTA
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,KOTA PADANG PANJANG,SUMATERA BARAT
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,KOTA JAKARTA BARAT,DKI JAKARTA
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,KOTA TANGERANG,BANTEN
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,KABUPATEN LAMONGAN,JAWA TIMUR
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,KABUPATEN HULU SUNGAI TENGAH,KALIMANTAN SELATAN
3091,f8201cab383e484733266d1906e2fdfa,88137,KABUPATEN KOTAWARINGIN TIMUR,KALIMANTAN TENGAH
3092,74871d19219c7d518d0090283e03c137,4650,KOTA TANGERANG,BANTEN
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,KABUPATEN GROBOGAN,JAWA TENGAH
3094,9e25199f6ef7e7c347120ff175652c3b,12051,KOTA KEDIRI,JAWA TIMUR

In [6]:
# checking the missing values
df.isnull().sum()

seller_id          0
seller_zip_code    0
seller_city        0
seller_state       0
dtype: int64

In [7]:
df.to_csv('C:/Users/Dell/OneDrive/Desktop/Data Engineer Project/Project-1/Original dataset/seller.csv', index=False)

In [3]:
# column names
df.columns

Index(['seller_id', 'seller_zip_code', 'seller_city', 'seller_state'], dtype='object')