In [1]:
# data reading, writing, exploration, cleaning
import pandas as pd
# array creation and operation
import numpy as np 
# plotting library
import matplotlib.pyplot as plt 
# data visualization library
import seaborn as sns
# remove warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# loading the dataset
df = pd.read_csv("C:/Users/Dell/OneDrive/Desktop/Data Engineer Project/Project-1/user_dataset.csv")
df

,user_name,customer_zip_code,customer_city,customer_state
0,861eff4711a542e4b93843c6dd7febb0,14409,KABUPATEN PEKALONGAN,JAWA TENGAH
1,290c77bc529b7ac935b93aa66c333dc3,9790,KOTA BEKASI,JAWA BARAT
2,060e732b5b29e8181a18229c7b0b2b5e,1151,KOTA TANGERANG,BANTEN
3,259dac757896d24d7702b9acbbff3f3c,8775,KABUPATEN BANDUNG BARAT,JAWA BARAT
4,345ecd01c38d18a9036ed96c73b8d066,13056,KOTA JAKARTA TIMUR,DKI JAKARTA
...,...,...,...,...
99436,1a29b476fee25c95fbafc67c5ac95cf8,3937,KOTA TANGERANG,BANTEN
99437,d52a67c98be1cf6a5c84435bd38d095d,6764,KOTA PONTIANAK,KALIMANTAN BARAT
99438,e9f50caf99f032f0bf3c55141f019d99,60115,KABUPATEN SIDOARJO,JAWA TIMUR
99439,73c2643a0a458b49f58cea58833b192e,92120,KABUPATEN CIANJUR,JAWA BARAT
99440,84732c5050c01db9b23e19ba39899398,6703,KOTA SUKABUMI,JAWA BARAT

In [11]:
# checking the missing values
df.isnull().sum()

user_name            0
customer_zip_code    0
customer_city        0
customer_state       0
dtype: int64

In [3]:
# column names
df.columns

Index(['user_name', 'customer_zip_code', 'customer_city', 'customer_state'], dtype='object')

In [12]:
df.to_csv('C:/Users/Dell/OneDrive/Desktop/Data Engineer Project/Project-1/Original dataset/user.csv', index=False)